/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Browser Style Reset
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Font Imports */
@font-face {
  font-family: "Nunito-Normal";
  src: url("./../font/Nunito-Regular.woff2") format("woff2"),
    url("./../font/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik-Moonrocks";
  src: url("./../font/RubikMoonrocks-Regular.woff2") format("woff2"),
    url("./../font/RubikMoonrocks-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("./../font/Nunito-Bold.woff2") format("woff2"),
    url("./../font/Nunito-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito-Light";
  src: url("./../font/Nunito-Light.woff2") format("woff2"),
    url("./../font/Nunito-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* All Styling */
:root * {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  /* Variables */
  --white-color: #ffffff;
  --black-color: #010101;
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
}

/* Navigation */
header {
  z-index: 1;
}

.content-nav {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  top: 3rem;
  left: 2.2rem;
}

.content-nav li {
  font-family: "Nunito-Normal";
  color: var(--white-color);
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--white-color);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
}

.content-nav li.active {
  font-family: "Nunito-Bold";
  background-color: var(--white-color);
  color: var(--black-color);
}

/* Content */
#content,
header {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

#content {
  min-height: 100vh;
  background-image: url("./../img/restaurant-kv2.jpg");
  background-color: var(--black-color);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  font-family: "Rubik-Moonrocks";
}

.desc {
  font-family: "Nunito-Normal";
}

/* Home Styling */
#content > div {
  width: 100%;
  height: 100%;
  max-width: 62.5rem;
  padding-top: 10rem;
}

.home-wrap .copy-wrap {
  display: grid;
  grid-template-rows: auto auto;
  gap: 5rem;
  padding: 1.5rem;
}

.home-wrap .title {
  font-size: 14rem;
  align-self: end;
}

.home-wrap .desc {
  grid-area: 2 / 1 / 3 / 2;
  font-family: "Nunito-bold";
  margin-right: 50%;
  font-size: 1.3rem;
  padding: 1rem;
  line-height: 1.2;
  background-color: rgba(0, 0, 0, 0.5);
  height: max-content;
}

/* Menu Styling */
.menu-wrap {
  padding: 1.5rem;
}

.title {
  font-size: 8rem;
  padding: 0.2rem;
  line-height: 1.1;
}

.menu-options {
  padding: 0.8rem;
}

.menu-options h2 {
  font-family: "Rubik-Moonrocks";
  font-size: 3rem;
}

.menu-options ul {
  display: grid;
}
